<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
</head>
<body style="background-color:turquoise">
    <h1 style="text-align: center;color: tomato;">Todo List</h1>
    <div style="color: rgb(252, 6, 6);">Add a new todo item: 
        <form action="{{ url_for('add') }}" method="POST">
            <input type="text" name="content">
            <input type="submit" value="Add Item">
        </form>
    </div>
        {% with messages=get_flashed_messages() %}
            {% if messages %}
                {% for message in messages%}
                    <p style="color:rgb(0, 68, 255);">{{ message }}</p>
                {%endfor%}
            {% endif %}
        {%endwith%}
    <div>
        <h2>Incomplete Items</h2>
        <ol>
            {% for todo in incomplete %}
            <li style="font-size:x-large;">{{ todo.content }} <a href="{{ url_for('complete', id=todo.id) }}">Mark As Complete</a></li>
            {% endfor %}    
        </ol>
        <h2>Completed Items</h2>
    </div>
    <div>
        <ol>
            {% for todo in complete %}
                 <li style="font-size: 30pt">{{ todo.content }}</li>
            {% endfor %}
        </ol>
    </div>
</body>
</html>